<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <small>
<p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#" class="waiver">
  <a rel="license"
     href="http://creativecommons.org/publicdomain/zero/1.0/">
    <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
  </a>
  <br />
  To the extent possible under law,
  <a rel="dct:publisher"
     href="https://nervous.io">
    <span property="dct:title">Moe Aboulkheir</span></a>
  has waived all copyright and related or neighboring rights to
  <span property="dct:title">Nervous Systems Ltd. Website/Blog</span>.
This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166"
      content="GB" about="https://nervous.io">
  United Kingdom</span>.
</p>
      </small>
    </div>
  </div>
</footer>

{% if site.google_analytics %}
<!-- Google Analytics -->
<script async src='//www.google-analytics.com/analytics.js'></script>
<script>
if(window.location.hostname !== "localhost") {
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', '{{site.google_analytics}}', 'auto');
  ga('send', 'pageview');
}
</script>
{% endif %}
