#latency-graph-container text {
  font-size: 14px;
}

#latency-graph-container .tick text { font-size: 10px }

#latency-graph-container rect.background {
  fill: white;
}

#latency-graph-container .axis {
  shape-rendering: crispEdges;
}

#latency-graph-container .axis path, #latency-graph-container .axis line {
  fill: none;
  stroke: #000;
}

#latency-graph-container .y line { stroke: none }

.grouped-chart-container, .device-graph-container {
  font-size: 10px;
}

.grouped-chart-container .axis path,
.grouped-chart-container .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grouped-chart-container .x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  padding: 8px;
  background: rgba(102, 102, 102, 0.9);
  color: #fff;
  border-radius: 2px;
  font-size: 10px;
}

.device-graph-container .axis path,
.device-graph-container .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.device-graph-container .x.axis path {
  display: none;
}

.device-graph-container .x.axis { font-size: 12px }

.x.axis { font-size: 12px }